html {
  background-color: black;
  color: yellow;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  height: 100vh;
  width: 18em;
  left: 50%;
  margin-left: -9em;
  transform-origin: top center;
  transform: perspective(300px) rotateX(25deg);
  text-align: justify;
  font-size: 2em;
  word-wrap: break-word;
}

html::after {
  position: absolute;
  content: ' ';
  left: -9em;
  right: -9em;
  top: 0;
  bottom: 60%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, transparent 100%);
  pointer-events: none;
}

::selection {
  background-color: yellow;
  color: black;
}

@keyframes scroll {
  from {
    top: 100%;
  }

  to {
    top: -300%;
  }
}

body {
  position: absolute;
  width: 100%;
  top: 100%;
  animation: scroll 90s linear infinite -10s;
}

a {
  color: yellow;
}

h1,
h2 {
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
}

p {
  font-weight: 600;
}

a:has(img) {
  margin: 0 auto;
  filter: grayscale(100%) contrast(1.5);
  display: inline-block;
  text-align: center;
}

blockquote {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  font-size: 0.8em;
}